In [2]:
import pandas as pd
import os

In [20]:
# creating consumption data dictionary

csv_files = ['/Users/chanukaalgama/Desktop/Lacuna improvements/Final Submission/consumption_data/non_smart_meter/monthly_consumption.csv', '/Users/chanukaalgama/Desktop/Lacuna improvements/Final Submission/consumption_data/smart_meter/6hour_interval/smart_6hour_1.csv', '/Users/chanukaalgama/Desktop/Lacuna improvements/Final Submission/consumption_data/smart_meter/15min_interval/smart_15min_1.csv']


data_dict_list = []

for file in csv_files:
    df = pd.read_csv(file, low_memory=False)
    
    if file.endswith('monthly_consumption.csv'):
        data_type = 'non_smart_meter'
    elif file.endswith('smart_6hour_1.csv'):
        data_type = 'smart_meter_6hour'
    elif file.endswith('smart_15min_1.csv'):
        data_type = 'smart_meter_15min'    
    
    for col in df.columns:
        data_dict_list.append({
            "data_format": data_type,
            "column_name": col,
            "data_type": df[col].dtype,
            "missing_values": df[col].isnull().sum()
        })

df_dict = pd.DataFrame(data_dict_list)

In [50]:
# creating survey data dictionary

path = '/Users/chanukaalgama/Desktop/Lacuna improvements/Final Submission/survey_data/wave_1'

data_dict_list = []

for root, folder, files in os.walk(path):
    for file in files:

        if file.endswith('.csv'):

            file_path = os.path.join(root, file)

            df = pd.read_csv(file_path, low_memory=False)    
            
            for col in df.columns:
                data_dict_list.append({
                    "data_table": file,
                    "column_name": col,
                    "data_type": df[col].dtype,
                    "missing_values": df[col].isnull().sum()
                })

df_dict = pd.DataFrame(data_dict_list)

In [51]:
df_dict.head(60)

,data_table,column_name,data_type,missing_values
0,w1_demographics.csv,household_ID,object,0
1,w1_demographics.csv,member_ID,object,0
2,w1_demographics.csv,age,int64,0
3,w1_demographics.csv,relationship_to_the_head_of_household,object,0
4,w1_demographics.csv,gender,object,0
5,w1_demographics.csv,ethnicity,object,0
6,w1_demographics.csv,religion,object,0
7,w1_demographics.csv,marital_status,object,0
8,w1_demographics.csv,current_attendance_in_any_education_instituition,object,418
9,w1_demographics.csv,highest_level_of_education,object,775
10,w1_demographics.csv,main_activity_engaged_in,object,2133
11,w1_demographics.csv,main_occupation,object,9902
12,w1_demographics.csv,daily_wage_owner_or_not,object,10090
13,w1_demographics.csv,employment_status_of_the_main_occupation,object,9902
14,w1_demographics.csv,no_of_hours_stayed_at_home_during_last_week,float64,0
15,w1_demographics.csv,member_went_out_for_work_or_not_during_last_week,object,11967
16,w1_ac_roster.csv,household_ID,object,0
17,w1_ac_roster.csv,room_ID,object,0
18,w1_ac_roster.csv,ac_ID,object,0
19,w1_ac_roster.csv,type_of_the_ac,object,0
20,w1_ac_roster.csv,is_the_ac_inverter_or_not,object,0
21,w1_ac_roster.csv,is_room_fully_sealed,object,0
22,w1_ac_roster.csv,wattage_of_the_ac,float64,356
23,w1_ac_roster.csv,btu_of_the_ac,float64,553
24,w1_ac_roster.csv,no_of_hours_ac_was_on_during_daytime_last_week,float64,0
25,w1_ac_roster.csv,no_of_hours_ac_was_on_during_night_last_week,float64,0
26,w1_light_roster.csv,household_ID,object,0
27,w1_light_roster.csv,room_ID,object,0
28,w1_light_roster.csv,light_ID,object,0
29,w1_light_roster.csv,type_of_the_bulb,object,0
30,w1_light_roster.csv,wattage_of_the_bulb,float64,9234
31,w1_light_roster.csv,no_of_hours_bulb_was_on_during_daytime_last_week,float64,0
32,w1_light_roster.csv,no_of_hours_bulb_was_on_during_night_last_week,float64,0
33,w1_household_information_and_history.csv,household_ID,object,0
34,w1_household_information_and_history.csv,no_of_electricity_meters,int64,0
35,w1_household_information_and_history.csv,electricity_provider_csc_area,object,0
36,w1_household_information_and_history.csv,own_the_house_or_living_on_rent,object,0
37,w1_household_information_and_history.csv,occupy_renters_boarders,object,536
38,w1_household_information_and_history.csv,awareness_of_electricity_consumption_of_renters,object,3959
39,w1_household_information_and_history.csv,built_year_of_the_house,object,0
40,w1_household_information_and_history.csv,type_of_house,object,0
41,w1_household_information_and_history.csv,floor_which_house_located,float64,3970
42,w1_household_information_and_history.csv,no_of_storeys,float64,3814
43,w1_household_information_and_history.csv,floor_area,float64,26
44,w1_household_information_and_history.csv,no_of_household_members,int64,0
45,w1_household_information_and_history.csv,charging_method_of_renters_for_electricity,object,3959
46,w1_household_information_and_history.csv,charged_method_for_rent_for_electricity,object,3527
47,w1_household_information_and_history.csv,is_there_business_carried_out_in_the_household,object,0
48,w1_household_information_and_history.csv,type_of_business,object,3877
49,w1_household_information_and_history.csv,whom_or_how_the_house_was_designed,object,1280
50,w1_household_information_and_history.csv,availability_of_certificate_of_compliance,object,1280
51,w1_household_information_and_history.csv,main_material_used_for_walls_of_the_house,object,0
52,w1_household_information_and_history.csv,main_material_used_for_roof_of_the_house,object,1280
53,w1_household_information_and_history.csv,any_constructions_or_renovations_in_the_household,object,0
54,w1_household_information_and_history.csv,highest_level_of_education_of_the_chief_wage_e...,object,0
55,w1_household_information_and_history.csv,occupation_of_the_chief_wage_earner,object,0
56,w1_household_information_and_history.csv,socio_economic_class,object,0
57,w1_household_information_and_history.csv,total_monthly_expenditure_of_last_month,float64,135
58,w1_household_information_and_history.csv,type_of_electricity_meter,object,0
59,w1_electricity_generation_water_heating_cookin...,household_ID,object,0

In [49]:
df_dict.to_csv('wave_1_data_dictionary.csv', index=False)

In [3]:
data = pd.read_csv('/Users/chanukaalgama/Desktop/Lacuna improvements/documentation/consumption/consumption_data_dictionary.csv')
data

,data_format,column_name,data_type,missing_values,description
0,non_smart_meter,household_ID,object,0,Unique household identifier
1,non_smart_meter,month,object,0,Year-Month format (YYYY-MM)
2,non_smart_meter,consumption,object,590,Total consumed units in kilowatts (KW)
3,smart_meter_6hour,household_ID,object,0,Unique household identifier
4,smart_meter_6hour,BRANCH,object,0,Branch of the service provider
5,smart_meter_6hour,DEPOT,object,0,NaN
6,smart_meter_6hour,substation_ID,object,0,transformer id
7,smart_meter_6hour,SUB_TYPE,object,0,NaN
8,smart_meter_6hour,E_BILLING,bool,0,NaN
9,smart_meter_6hour,EXPORT,bool,0,Energy exporting back to the grid or not
10,smart_meter_6hour,DATE,object,0,Date of the reading
11,smart_meter_6hour,TIME,object,0,time of the reading
12,smart_meter_6hour,TOTAL_IMPORT (kWh),object,3,Total Cumulative consumed energy units
13,smart_meter_6hour,TOTAL_EXPORT (kWh),float64,3,Total Cumulative generated energy units
14,smart_meter_6hour,TOTAL_IMPORT - PV1 (kWh),float64,0,Total consumed energy units as at 1st of the g...
15,smart_meter_6hour,TOTAL_EXPORT - PV1 (kWh),float64,1,Total generated energy units as at 1st of the ...
16,smart_meter_6hour,TR1_TOTAL_IMPORT (kWh),float64,3,Cumulative consumed energy units for Day Time
17,smart_meter_6hour,TR2_TOTAL_IMPORT (kWh),float64,3,Cumulative consumed energy units for Peak Time
18,smart_meter_6hour,TR3_TOTAL_IMPORT (kWh),float64,2,Cumulative consumed energy units for off - Pea...
19,smart_meter_6hour,TR1_TOTAL_EXPORT (kWh),float64,5,Cumulative generated energy units for Day Time
20,smart_meter_6hour,TR2_TOTAL_EXPORT (kWh),float64,1,Cumulative generated energy units for Peak Time
21,smart_meter_6hour,TR3_TOTAL_EXPORT (kWh),float64,1,Cumulative generated energy units for off-Peak...
22,smart_meter_6hour,TR1_TOTAL_IMPORT - PV1 (kWh),float64,1,Day time consumed energy units as at 1st of th...
23,smart_meter_6hour,TR2_TOTAL_IMPORT - PV1 (kWh),float64,1,Peak time consumed energy units as at 1st of t...
24,smart_meter_6hour,TR3_TOTAL_IMPORT - PV1 (kWh),float64,2,Off-Peak time consumed energy units as at 1st ...
25,smart_meter_6hour,TR1_TOTAL_EXPORT - PV1 (kWh),float64,1,Day time generated energy units as at 1st of t...
26,smart_meter_6hour,TR2_TOTAL_EXPORT - PV1 (kWh),float64,0,Peak time generated energy units as at 1st of ...
27,smart_meter_6hour,TR3_TOTAL_EXPORT - PV1 (kWh),float64,0,Off-Peak time generated energy units as at 1st...
28,smart_meter_6hour,PHASE_A_CURRENT (A),float64,2,NaN
29,smart_meter_6hour,PHASE_A_VOLTAGE (V),float64,2,NaN
30,smart_meter_6hour,FREQUENCY (Hz),object,3,NaN
31,smart_meter_6hour,PHASE_B_CURRENT (A),float64,986572,NaN
32,smart_meter_6hour,PHASE_B_VOLTAGE (V),float64,986574,NaN
33,smart_meter_6hour,PHASE_C_CURRENT (A),float64,986572,NaN
34,smart_meter_6hour,PHASE_C_VOLTAGE (V),float64,986573,NaN
35,smart_meter_15min,household_ID,object,0,Unique household identifier
36,smart_meter_15min,timestamp,float64,0,NaN
37,smart_meter_15min,date,object,0,Date of the reading
38,smart_meter_15min,time,object,0,time of the reading
39,smart_meter_15min,obis,object,0,NaN
40,smart_meter_15min,importkwh(kwh),float64,0,Total Cumulative consumed energy units
41,smart_meter_15min,exportkwh(kwh),float64,0,Total Cumulative generated energy units
42,smart_meter_15min,importkvarh(kvarh),float64,8354855,NaN
43,smart_meter_15min,exportkvarh(kvarh),float64,8354855,NaN
44,smart_meter_15min,powerfactor,float64,386387,NaN
45,smart_meter_15min,avgcurrent(v),float64,1307988,NaN
46,smart_meter_15min,avgexportkw(kw),float64,58262,NaN
47,smart_meter_15min,avgimportkw(kw),float64,58262,NaN
48,smart_meter_15min,avgvoltage(v),float64,1307988,NaN
49,smart_meter_15min,phaseainstcurrent(a),float64,8127767,NaN
50,smart_meter_15min,phaseainstvoltage(v),float64,8127767,NaN
51,smart_meter_15min,phasebinstcurrent(a),float64,8354855,NaN
52,smart_meter_15min,phasebinstvoltage(v),float64,8354855,NaN
53,smart_meter_15min,phasecinstcurrent(a),float64,8354855,NaN
54,smart_meter_15min,phasecinstvoltage(v),float64,8354855,NaN